<h1>Hello Counter {{counter}}</h1>
<button (click)="counter=counter+1;">Increment</button>
<button (click)="logIt('this is our current count in App: ' + counter)">Log</button>
<button (click)="changeConf();">change config</button>
<span>appID: {{testConfig.id}}</span>
<app-child-test [testInput]="counter" [onPushTest]="testConfig"></app-child-test>
