<p>child-test</p>
<button (click)="counter2=counter2+1;">Increment2</button>
<button (click)="logChild('this is our current count in Child: ' + counter2)">Log</button>
<span>Thats our counter from app: {{testInput}}</span>

<span>childID: {{onPushBlumBla.id}} childColor: {{onPushBlumBla.color}}</span>
